@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.navBar_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2vw;
}
.navBar_wrap .buttons_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navBar_wrap .buttons_wrap button {
  width: 23%;
  height: 35px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navBar_wrap .buttons_wrap button:disabled {
  color: gray;
  background-color: rgb(231, 231, 231);
}
.navBar_wrap .buttons_wrap button:disabled:hover {
  background-color: rgb(231, 231, 231);
  cursor: auto;
}
.navBar_wrap .buttons_wrap button:hover {
  background-color: rgb(163, 200, 255);
  transition-duration: 0.3s;
}
.navBar_wrap .buttons_wrap .icon {
  height: 25px;
  width: 25px;
}
.navBar_wrap .buttons_wrap .editIcon {
  margin-left: 4px;
}
.navBar_wrap .buttons_wrap .pressedButton {
  background-color: rgb(190, 250, 190);
}

.noteList_wrap {
  height: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.noteList_wrap .note_wrap {
  display: flex;
  align-items: center;
  width: 96vw;
  height: 75px;
  margin-top: 5px;
  padding: 13px 15px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}
.noteList_wrap .note_wrap:hover {
  background-color: rgb(212, 212, 212);
  transition-duration: 0.3s;
}
.noteList_wrap .note_wrap time {
  font-size: small;
  white-space: nowrap;
}
.noteList_wrap .note_wrap .rightSide {
  width: 100%;
  margin-left: 15px;
  overflow: hidden;
}
.noteList_wrap .note_wrap .rightSide header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.noteList_wrap .note_wrap .rightSide .note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.noteList_wrap::-webkit-scrollbar {
  width: 8px;
}
.noteList_wrap::-webkit-scrollbar-track {
  margin: 5px 0;
  background-color: darkgray;
  border-radius: 4px;
}
.noteList_wrap::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  height: 100px;
  border-radius: 4px;
}
.noteList_wrap::-webkit-scrollbar-thumb:hover {
  background-color: rgb(231, 231, 231);
}

.app_wrap {
  height: 100vh;
  display: grid;
  grid-template: "topSpace" "bottomSpace";
  grid-template-rows: 85px 1fr;
}

.app_top {
  grid-area: topSpace;
  background-color: rgb(212, 212, 212);
}

.app_bottom {
  grid-area: bottomSpace;
  overflow: hidden;
}

.workSpace_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
}
.workSpace_wrap .note {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  font-size: 1rem;
}
.workSpace_wrap .date {
  font-size: small;
  color: gray;
}

.search_wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.search_wrap input {
  padding: 0.3rem 1.2rem;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  outline: none;
}/*# sourceMappingURL=main.css.map */