@import "../../scss/global/colors";
@import "../../scss/global/brakepoints";
@import "../../scss/global/mixins";
.noteList_wrap {
  height: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  @include media(">phone") {
    height: auto;
  }
  .note_wrap {
    display: flex;
    align-items: center;
    height: 75px;
    min-height: 75px;
    margin-top: 5px;
    padding: 13px 15px;
    background-color: $baseColor;
    width: 98%;
    @include media(">phone") {
      max-width: 500px;
    }
    cursor: pointer;
    &:hover {
      background-color: $baseColorHover;
      transition-duration: 0.3s;
    }
    time {
      font-size: small;
      white-space: nowrap;
    }
    .rightSide {
      width: 100%;
      margin-left: 15px;
      overflow: hidden;
      header {
        @include elipsis;
        font-weight: bold;
      }
      .note {
        @include elipsis;
      }
    }
  }
  @include scrollBar($scrollBar);
}
