@import "../../scss/global/colors";
@mixin elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noteList_wrap {
  height: 100%;
  padding-bottom: 5px;
    display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .note_wrap {
    display: flex;
    align-items: center;
    width: 96vw;
    height: 75px;
    margin-top: 5px;
    padding: 13px 15px;
    background-color: $baseColor;
    cursor: pointer;
    &:hover {
      background-color: $baseColorHover;
      transition-duration: 0.3s;
    }
    time {
      font-size: small;
      white-space: nowrap;
    }
    .rightSide {
      width: 100%;
      margin-left: 15px;
      overflow: hidden;
      header {
        @include elipsis;
        font-weight: bold;
      }
      .note {
        @include elipsis;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin: 5px 0;
    background-color: $scrollBar;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $navBarColor;
    height: 100px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $baseColor;
  }
}
