@import "../../scss/global/colors";
@mixin elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noteList_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .note_wrap {
    display: flex;
    align-items: center;
    width: 96vw;
    height: 75px;
    margin-top: 2px;
    padding: 13px 15px;
    background-color: $baseColor;
    cursor: pointer;
    &:hover {
      background-color: $baseColorHover;
      transition-duration: 0.3s;
    }
    time {
      font-size: small;
      white-space: nowrap;
    }
    .rightSide {
      width: 100%;
      margin-left: 15px;
      overflow: hidden;
      header {
        @include elipsis;
        font-weight: bold;
      }
      .note {
        @include elipsis;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 10px;
    height: 400px;
  }
  &:-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}
