$baseColor: rgb(231, 231, 231);
$baseColorHover: rgb(212, 212, 212);
$navBarColor: rgb(212, 212, 212);
$dateWorkSpaceColor: gray;
$btnDisabledColor: gray;
$scrollBar: darkgray;
$btnHover: rgb(163, 200, 255);
$btnPressed: rgb(190, 250, 190);
$backgroundColor: white;
