@import "./global/colors";
.app_wrap {
  height: 100vh;
  display: grid;
  grid-template:
    "topSpace"
    "bottomSpace";
  grid-template-rows: 85px 1fr;
}
.app_top {
  grid-area: topSpace;
  background-color: $navBarColor;
}
.app_bottom {
  grid-area: bottomSpace;
}
